:root{
--iris: #4D5AE5;
--navyblue: #2E2F42;
--ocean: #404BBF;
--slate: #434455;
--white: #FFFFFF;
--green: #31D0AA;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud: #F4F4FD;
--dairy: #FCFCFC;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: var(--slate);
    background-color: var(--white);
}

button{
  font-family: inherit;
  cursor: pointer;
}


/* Reset styles */
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}



/**
  |============================
  | Header section
  |============================
*/
/* logo */
.header-container{
display: flex;
align-items: center;
justify-content: space-between;
}

.logo-color-iris{
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 156;
    padding-top: 25.5;
}

.logo-color-navyblue{
    color: var(--navyblue);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-nav{
display: flex;
align-items: center;
margin-right: 76px;
}

/* Navigation */
.nav-link-portfolio{
color: var(--navyblue);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
}

.nav-link-portfolio:hover,
.nav-link-portfolio:focus{
  color: var(--ocean);
}

.nav-link{
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  align-items: center;
}

.address-header-styl{
  font-style: normal;
  text-decoration: none;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-header-styl:hover,
.address-header-styl:focus{
  color: var(--ocean);
}

.address-link{
  display: flex;
  gap: 40px;
  align-items: center;
}



/**
  |============================
  | Button section
  |============================
*/
.style-button-portfolio{
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
}

.style-button-portfolio:hover,
.style-button-portfolio:focus{
  color: var(--white);
  background-color: var(--ocean);
}

/**
  |============================
  | Portfolio section
  |============================
*/

.portfolio-section-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-h-two{
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navyblue);
}


/**
  |============================
  | Hero section
  |============================
*/

.section-hero-bg{
  background-color: var(--navyblue);
  padding: 188px 0;
}


.style-button-hero{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  font-weight: 500;
  background-color: var(--iris);
}

.btn{
display: block;
padding: 16px 32px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
}



.style-button-hero:hover,
.style-button-hero:focus{
background-color: var(--ocean);
}

.style-h-one{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-h{
  display: block;
  padding-top: 188px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;

}

/**
  |============================
  | Strategy section
  |============================
*/
.style-section-p{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.style-h-three{
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navyblue);
}

.style-h-two{
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: capitalize;
}

.team-bg-white{
  background-color: var(--white);
}

/**
  |============================
  | Team section
  |============================
*/
.section-team-style{
  background-color: var(--cloud);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer-bg-color{
  background-color: var(--navyblue);
}

.logo-color-cloud{
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 0, 21;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  text-decoration: none;
}

.text-footer-p{
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}